.analysis {
    &__row {
        margin-top: 40px;
    }

    &__col {
        position: relative;
    }

    &__container {
        width: 70%;
        z-index: 3;
    }

    &__title {
        font-size: 42px;
        line-height: 42px;
        font-weight: bold;
        text-transform: uppercase;
    }
    
    &__description {
        font-size: 18px;
        line-height: 20px;
        font-weight: 300;
        padding: 40px 0;
    }

    &__learn {
        font-size: 20px;
        line-height: 20px;
        font-weight: 300;
        text-transform: uppercase;
    }

    &__period {
        font-size: 20px;
        line-height: 20px;
        color: $aqua;
        font-weight: bold;
        text-transform: uppercase;
        padding: 40px 0;
    }
    
    // &__btn {}

    &__img {
        position: absolute;
        right: 40px;
        z-index: 0;
    }
}
