.assortment {
    margin-top: 150px;
    position: relative;

    // &__row {}

    &__col {
        position: relative;
        z-index: 3;
    }

    &__img {
        position: absolute;
    }

    &__container {
        width: 80%;
    }

    &__title {
        font-size: 40px;
        line-height: 40px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__description {
        display: flex;
        flex-direction: column;
        padding: 60px 0 50px;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
    }

    &__description > span {
        padding: 10px 0;
    }

    // &__btn {}

    &__img-back {
        position: absolute;
        z-index: 2;
        width: 90%;
        top: -100px;
        left: 60px;
    }
}
