.company {
    display: flex;
    align-items: center;
    margin-top: 100px;

    &__col {
        z-index: 3;
    }

    &__img {
        margin-right: 60px;
        width: 100%;
    }

    &__content {
        width: 80%;
    }

    &__title {
        font-size: 40px;
        line-height: 40px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 70px;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        display: flex;
        flex-direction: column;
    }

    &__text > span {
        padding: 10px 0;
    }
}
