.down-menu {
    &__body {
        border-top: 1px dashed $grey-light;
        display: flex;
        width: 100%;
        padding: calc(#{21px / 2}) 0;
    }

    &__item {
        display: flex;
        align-items: center;

        // &_active {}
    }

    &__item:hover &__img {
        opacity: 0;
        display: none;
    }

    &__item:hover &__img-op {
        opacity: 1;
        display: block;
    }

    &__item:hover &__link {
        text-decoration: underline dashed;
        color: $aqua;
    }

    &__item_active &__link {
        font-weight: 700;
        color: $aqua;
    }

    &__img-link {
        align-items: center;
        display: flex;
    }

    &__img {
        height: 28px;
        margin-right: $offset_xs;
        opacity: 1;
    }

    &__img-op {
        height: 28px;
        margin-right: $offset_xs;
        display: none;
        opacity: 0;
    }

    // &__link {}
}
