.footer {
    position: relative;
    margin-top: 100px;

    //  &__row {}

    &__col {
        z-index: 3;
    }

    &_container {
        display: flex;
        flex-direction: column;    
    }

    &__lists {
        display: flex;
    }

    //  &__amenities {}

    &__caption {
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        padding-bottom: 20px;
    }

    &__list {
        font-size: 14px;
        line-height: 20px;
    }

    //  &__item {}

    &__link {
        color: #000;
        border-bottom: 1px dashed $black;

        &:hover {
            border-bottom: 1px solid $black;
        }
    }

    &__info {
        margin-left: 80px;
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        padding-top: 60px;
    }

    &__logo {
        width: 55%;
    }

    &__logo-text {
        padding-left: 30px;
        margin-left: 30px;
        border-left: 1px dashed $black;
        font-weight: 300;
    }

    &__question {
        padding-bottom: 50px;
    }

    &__title {
        font-size: 40px;
        line-height: 40px;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 20px;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
    }

    //  &__feetback {}

    &__phone {
        display: flex;
        align-items: center;
        padding-bottom: 20px;
    }

    &__phone-icon {
        max-height: 40px;
    }

    &__phone-text {
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        padding-left: 20px;
    }

    //  &__btn {}

    &__kvott {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        z-index: 3;
    }

    &__kvott-link {
        color: #000;
        font-size: 20px;
        line-height: 20px;
    }

    //  &__kvott-text {}
    //  &__kvott-icon {}

    &__img {
        position: absolute;
        z-index: 2;
        width: 95%;
        top: -230px;
        left: 50px;
    }
}