.offer {
    position: relative;

    &__container {
        z-index: 2;
        position: relative;
        flex-direction: column;
        margin-top: $offset_m;
    }

    &__caption {
        @include responsive (( fonts: xx-large ));

        text-transform: uppercase;
        font-weight: bold;
    }

    &__description {
        @include responsive (( fonts: x-medium ));

        font-weight: 300;
        padding: $offset_s 0;
    }

    &__decision {
        display: flex;
        align-items: flex-end;
        margin-top: $offset_s;
    }

    &__icon {
        width: $size_h;
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin-left: $offset_s;
    }

    &__decision-caption {
        @include responsive (( fonts: large ));

        font-weight: bold;
    }

    // &__decision-reference {}

    // &__decision-link {}

    &__background {
        position: absolute;
        width: 100%;
        height: 636px;
        top: -60px;

    }

    &__img {
        z-index: 1;
        position: absolute;
        height: 100%;
        width: auto;
        right: 0;

    }

    &__plus {
        @include responsive (( fonts: small ));

        position: absolute;
        z-index: 1;
        background: $aqua;
        padding: 0 6px;
        border-radius: $offset_s;
        color: $white;

        &:hover {
            cursor: pointer;
        }

        &_produce {
            right: 680px;
            top: 380px;

        }

        &_crane {
            right: 505px;
            top: 375px;

        }

        &_sink {
            right: 400px;
            top: 430px;
        }

        &_glass {
            right: 325px;
            top: 365px;
        }

        &_teapot {
            right: 210px;
            top: 345px;
        }
    }

    &__basement {
        z-index: 2;
        margin-top: $offset_h;
    }

    &__sale {
        @include responsive (( fonts: xx-large ));

        color: $aqua;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__btn {
        margin-top: $offset_m;
    }

    &__link-btn {
        @include responsive (( fonts: small ));

        color: $black;
    }
}
