.service {
    position: relative;

    &__row {
        align-items: center;
        margin-top: 150px;
    }

    &__col {
        z-index: 3;
    }

    &__range {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: 1px solid $black;
        border-radius: 150px;
        background: $white;
        margin-right: 40px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 40px 0px;
    }

    &__container + &__container {
        border-top: 1px solid $black;
    }

    &__icon {
        padding-bottom: 20px;
        max-width: 60px;
    }

    &__text {
        width: 60%;
    }

    &__content {
        margin-left: 40px;
        width: 60%;
    }

    &__title {
        font-size: 40px;
        line-height: 40px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__description {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        padding: 50px 0;
    }

    &__sale {
        font-size: 54px;
        line-height: 60px;
        color: $aqua;
        font-weight: bold;
        padding-bottom: 50px;
    }

    &__btn {
        font-size: 20px;
        line-height: 20px;
    }

    &__img {
        position: absolute;
        z-index: 2;
        width: 85%;
        padding-top: 70px;
    }
}
