.warranty {
    margin-top: 200px;

    &__container {
        display: flex;
        flex-direction: column;
    }

    &__title {
        width: 100%;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        font-weight: bold;
        text-transform: uppercase;
    }

    &__elements {
        display: flex;
        padding: 60px 0;
        justify-content: center;
    }

    &__item {
        display: flex;
        justify-content: center;
    }

    &__icon {
        max-height: 60px;
    }

    &__content {
        width: 60%;
        border-left: 7px solid $positive;
        padding-left: 20px;
        margin-left: 20px;
    }

    &__caption {
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    &__text {
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
    }

    &__sale {
        text-align: center;
        width: 100%;
        font-size: 40px;
        line-height: 40px;
        color: $aqua;
        font-weight: bold;
        text-transform: uppercase;
        padding-bottom: 42px;
    }

    &__btn {
        width: 100%;
        text-align: center;
    }

    &__btn > button {
        font-size: 16px;
        line-height: 20px;
    }
}
