.header {
    z-index: 3;
    position: relative;
    
    &__container {
        padding: 0;
    }

    // &__left {}

    &__logo-wrapper {
        display: flex;
        padding-left: $offset_xs;
    }

    &__logo {
        height: 46px;
    }

    &__drop-down-menu {
        display: flex;
        margin-left: $offset_s;
        padding-left: $offset_s;
        border-left: 1px solid $grey-light;
    }

    &__right {
        align-items: center;
    }

    &__contact {
        width: 50%;
    }

    &__phone {
        @include responsive (( fonts: x-medium ));
        font-weight: bold;
    }

    // &__link-phone {}

    &__description {
        @include responsive (( fonts: small ));
    }

    // &__link-location {}
    // &__caption {}

    &__icon {
        max-width: 14px;
    }

    &__call {
        margin-left: $offset_xs;
    }

    &__btn {
        margin-left: calc(#{$offset_s} + #{$offset_xs});
    }

    &__link-btn {
        color: $black;
    }

    // &__menu {}
}
