{% include "modules/header.twig" with {"__scope":header} %}
{% include "components/offer.twig" with {"__scope":offer} %}
{% include "components/service.twig" with {"__scope":service} %}
{% include "components/analysis.twig" with {"__scope":analysis} %}
{% include "components/assortment.twig" with {"__scope":assortment} %}
{% include "components/warranty.twig" with {"__scope":warranty} %}
{% include "components/company.twig" with {"__scope":company} %}
{% include "components/footer.twig" with {"__scope":footer} %}
