/// Базовые стили приложения
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');

* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
    line-height: 21px;
    // font-family: Helvetica, -apple-system, BlinkMacSystemFont, Roboto, Open Sans, sans-serif;
    font-family: 'Roboto', sans-serif;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}
