<div class='analysis'>
    <div class='row analysis__row'>
        <div class='col xs-6 analysis__col xs-end'>
            <div class='analysis__container'>
                <div class='analysis__title'>
                    {{ analysis.title }}
                </div>
                <div class='analysis__description'>
                    {{ analysis.description | raw }}
                </div>
                <div class='analysis__learn'>
                    {{ analysis.learn }}
                </div>
                <div class='analysis__period'>
                    {{ analysis.period }}
                </div>
                <button class='analysis__btn btn btn_md'>
                    {{ analysis.btn }}
                </button>
            </div>
        </div>
        <div class='col xs-6 analysis__col'>
            {% include 'utils/image.twig' with {'__scope': analysis.image, '__class': "analysis__img"} %}
        </div>
    </div>
</div>
