<div class='assortment'>
    <div class='row assortment__row'>
        <div class='col xs-6 xs-end assortment__col'>
            {% include 'utils/image.twig' with {'__scope': assortment.image, '__class': "assortment__img"} %}
        </div>
        <div class='col xs-6 assortment__col'>
            <div class='assortment__container'>
                <div class='assortment__title'>
                    {{ assortment.title }}
                </div>
                <div class='assortment__description'>
                    {{ assortment.description | raw }}
                </div>
                <button class='assortment__btn btn btn_md'>
                    {{ assortment.btn }}
                </button>
            </div>
        </div>
    </div>
    <img class='assortment__img-back' src='{{ assortment.image_back.base }}{{ assortment.image_back.file }}'>
</div>
