<div class='company'>
    <div class='col xs-7 xs-end company__col'>
        {% include 'utils/image.twig' with {'__scope': company.image, '__class': "company__img"} %}
    </div>
    <div class='col xs-5 company__col'>
        <div class='company__content'>
            <div class='company__title'>
                {{ company.title }}
            </div>
            <div class='company__text'>
                {{ company.text | raw }}
            </div>
        </div>
    </div>
</div>
