<div class='footer'>
    <div class='row footer__row'>
        <div class='col xs-5 xs-l-1 footer__col'>
            <div class='footer__container'>
                <div class='footer__lists'>
                    <div class='footer__amenities'>
                        <div class='footer__caption'>
                            {{ footer.caption_amenities }}
                        </div>
                        <ul class="footer_list">
                            {% for amenitie in __scope.amenities %}
                                <li class="footer__item">
                                    <a class="footer__link" href="{{ amenitie.link }}">
                                        {{ amenitie.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class='footer__info'>
                        <div class='footer__caption'>
                            {{ footer.caption_info }}
                        </div>
                        <ul class="footer__list">
                            {% for info in __scope.infos %}
                                <li class="footer__item">
                                    <a class="footer__link" href="{{ info.link }}">
                                        {{ info.name }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class='footer__logo-wrapper'>
                    <img class='footer__logo' src='../icon/logo-full.svg' alt=''>
                    <span class='footer__logo-text'>
                        Все права защищены 2018 г.
                    </span>
                </div>
            </div>
        </div>
        <div class='col xs-4 xs-l-2 footer__col'>
            <div class='footer__container'>
                <div class='footer__question'>
                    <div class='footer__title'>
                        {{ footer.title }}
                    </div>
                    <div class='footer__text'>
                        {{ footer.text }}
                    </div>
                </div>
                <div class='footer__feetback'>
                    <div class='footer__phone'>
                        <img class='footer__phone-icon' src='../icon/technology.svg' alt=''>
                        <span class='footer__phone-text'>
                            {{ __root.phone }}
                        </span>
                    </div>
                    <button class='footer__btn btn btn_md'>
                        {{ footer.btn }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class='row footer__row'>
        <div class='footer__kvott'>
            <a class='footer__kvott-link' href='#'>
                <span class='footer__kvott-text'>
                    Сайт сделан с
                </span>
                <img class='footer__kvott-icon' src='../icon/heart.svg'>
                <span class='footer__kvott-text'>
                    студией квотт.
                </span>
            </a>
        </div>
    </div>
    <img class='footer__img' src='{{ footer.image.base }}{{ footer.image.file }}'>
</div>