<div class='row offer'>
    <div class='row'>
        <div class='offer__container col xs-5'>
            <div class="offer__caption">
                {{ offer.caption }}
            </div>
            <div class='offer__description'>
                {{ offer.description }}
            </div>
            <div class='offer__decision'>
                <img class='offer__icon' src='{{ __scope.apartment.image.base }}{{ __scope.apartment.image.file }}'>
                <div class='offer__content'>
                    <span class='offer__decision-caption'>
                        {{ offer.apartment.caption }}
                    </span>
                    <span class='offer__decision-reference'>
                        <a class='offer__decision-link link link_line' href='{{ offer.apartment.reference.link }}'>
                            {{ offer.apartment.reference.name }}
                        </a>
                    </span>
                </div>
            </div>
            <div class='offer__decision'>
                <img class='offer__icon' src='{{ __scope.cottage.image.base }}{{ __scope.cottage.image.file }}'>
                <div class='offer__content'>
                    <span class='offer__decision-caption'>
                        {{ offer.apartment.caption }}
                    </span>
                    <span class='offer__decision-reference'>
                        <a class='offer__decision-link link link_line' href='{{ offer.apartment.reference.link }}'>
                            {{ offer.apartment.reference.name }}
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class='offer__background'>
            {% include 'utils/image.twig' with {'__scope': offer.image, '__class': "offer__img"} %}
            <a class='offer__plus offer__plus_produce' href='#'>
                +
            </a>
            <a class='offer__plus offer__plus_crane' href='#'>
                +
            </a>
            <a class='offer__plus offer__plus_sink' href='#'>
                +
            </a>
            <a class='offer__plus offer__plus_glass' href='#'>
                +
            </a>
            <a class='offer__plus offer__plus_teapot' href='#'>
                +
            </a>
        </div>

    </div>
    <div class='row offer__basement col xs-12 xs-center'>
        <div>
            <div class='offer__sale'>
                {{ offer.sale }}
            </div>
            <button class='offer__btn btn'>
                <a class='offer__link-btn' href='{{ __root.btn_cost.link }}'>
                    {{ __root.btn_cost.name }}
                </a>
            </button>
        </div>
    </div>
</div>
