<div class='service'>
    <div class='row service__row'>
        <div class='col xs-6 service__col xs-end'>
            <div class='service__range'>
                {% for item in __scope.items %}
                    <div class='service__container'>
                        <img class='service__icon' src='{{ item.image.base }}{{ item.image.file }}'>
                        <div class='service__text'>
                            {{ item.text }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class='col xs-6 service__col'>
            <div class='service__content'>
                <div class='service__title'>
                    {{ __scope.title }}
                </div>
                <div class='service__description'>
                    {{ __scope.description }}
                </div>
                <div class='service__sale'>
                    {{ __scope.sale }}
                </div>
                <button class='service__btn btn btn_md'>
                    {{ __scope.btn }}
                </button>
            </div>
        </div>
        <img class='service__img' src='{{ service.image.base }}{{ service.image.file }}'>
    </div>
</div>
