<div class='warranty'>
    <div class='warranty__container'>
        <div class='warranty__title'>
            {{ warranty.title }}
        </div>
        <div class='warranty__elements row'>
            {% for item in __scope.items %}
                <div class='warranty__item col xs-4'>
                    <img class='warranty__icon' src='{{ item.image.base }}{{ item.image.file }}'>
                    <div class='warranty__content'>
                        <div class='warranty__caption'>
                            {{ item.caption }}
                        </div>
                        <div class='warranty__text'>
                            {{ item.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class='warranty__sale'>
                {{ warranty.sale }}
        </div>
        <div class='warranty__btn'>
            <button class='btn'>
                    {{ warranty.btn }}
            </button>
        </div>
    </div>
</div>
