.burger-button {
    display: flex;
    align-items: center;
    line-height: $offset_s;

    &__icon {
        position: relative;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
    }

    &__icon-line,
    &__icon::before,
    &__icon::after {
        content: "";
        position: absolute;
        background: $aqua;
        width: 100%;
        height: 4px;
    }

    &__icon::before {
        top: 0;
    }

    &__icon::after {
        bottom: 0;
    }

    &__caption {
        font-weight: 300;
        margin-left: $offset_xs;
        @include responsive((fonts: x-medium));
    }
}
