.btn {
    font-weight: bold;
    background: $positive;
    border: 3px solid $positive;
    border-radius: 50px;
    cursor: pointer;
    padding: $offset_xs $offset_l;
    transition: 300ms 0ms linear;

    &:hover {
        background: $white;
        transition: 300ms 0ms linear;
    }

    &:active {
        background: $positive;
    }

    &:focus {
        background: #ffd2007a;
        transition: 300ms 0ms linear;
    }

    // &_sm {}

    &_md {
        padding: 8px $offset_s;
        @include responsive (( fonts: x-small ));
    }

    &_lg {
        
    }

    &_light {
        background: none;

        &:hover {
            background: $positive;
        }
    }
}
