.link {
    color: $aqua;
    border-bottom: none;

    &:hover {
        color: mix($black,$aqua, 30%);
        border-bottom: transparent;
    }

    &:active {
        color: mix($black,$aqua, 30%);
        border-bottom: transparent;
    }

    &:focus {
        color: mix($black,$aqua, 20%);
    }

    &_blk {
        color: $black;

        &:hover {
            color: $black;
        }
    }

    &_line {
        border-bottom: 1px dashed;
    }
}
