<button class='burger-button link link_blk' href='#'>
    <span class='burger-button__icon'>
        <span class='burger-button__icon-line'></span>
    </span>
    <span class='burger-button__caption'>
        Меню
    </span>
</button>
