<div class='header__down-menu-wrapper row row_clear-full'>
    <div class='header__down-menu col xs-12'>
        <ul class='down-menu__body xs-between'>
            {% for item in down_menu.items %}
                <li class='down-menu__item'>
                    <a class='down-menu__img-link' href='{{ item.link }}'>
                        <img class='down-menu__img' src='{{ item.image.base }}{{ item.image.file }}' alt='{{ item.alt }}'>
                        <img class='down-menu__img-op' src='{{ item.image_op.base }}{{ item.image_op.file }}' alt='{{ item.alt }}'>
                        {% set link_class = 'blk' %}
                        {% if item.class != null %}
                            {% set link_class = 'bold' %}
                        {% endif %}
                        <span class='down-menu__link link link_{{ link_class }}'>
                            {{ item.name }}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
