<div class='header'>
    <div class='header__container row'>
        <div class='header__left col xs-5'>
            <div class='header__logo-wrapper'>
                <a href='/'>
                    <img class='header__logo' src='../icon/logo-full.svg' alt=''>
                </a>
            </div>
            <div class='header__drop-down-menu'>
                {% include "modules/burger_button.twig" %}
            </div>
        </div>
        <div class='header__right col xs-7 xs-end'>
            <div class='header__contact'>
                <div class='header__phone'>
                    <a class='header__link-phone link_blk' href='tel:{{ __root.phone }}'>
                        {{ __root.phone }}
                    </a>
                </div>
                <div class='header__description'>
                    <a href='#' class='header__link-location link'>
                        <span class='header__caption link link_line'>
                            {{ __scope.location_caption }}
                        </span>
                        <img class='header__icon' src='{{ __scope.image.base }}{{ __scope.image.file }}'>
                    </a>
                    <a class='header__call link link_line' href='#'>
                        {{ __scope.btn_call }}
                    </a>
                </div>
            </div>
            <button class='header__btn btn btn_md btn_light'>
                <a class='header__link-btn' href='{{ __root.btn_cost.link }}'>
                    {{ __root.btn_cost.name }}
                </a>
            </button>
        </div>
    </div>
    <div class='header__menu row'>
        {% include "modules/down_menu.twig" %}
    </div>
</div>
